body {
		
		margin-top: 25px;
		margin-left: 50px;
		margin-right: 50px;
		background-color: #000000;
		color: #53565A;
	}

	@font-face {
		font-family: Paper_Flowers;
		src: 
			url('Font/Paper_Flowers/Paper_Flowers.ttf')
	}

	h1 {
		color: #981E32;
		font-size: 30px;
    font-family: Paper_Flowers, serif;
	}

	h3 {
		color: 	#981E32;
		font-size: 30px;
    font-family: Paper_Flowers, serif;
	}
	
	#navbar {
		color: black;
		font-size: 25px;
    font-family: Paper_Flowers, serif;
	}
	
	#mainImage {
		background-image: url("images/wyrbg800px.png");
		background-repeat: no-repeat;
		background-position: center;
		height: 400px;
	}

	p {
		color: 	#981E32;
		font-size: 25px;
    font-family: Paper_Flowers, serif;	
	}

	#Option1 {
		background-color: #a6a6a6;
		height: 50px;
		size: 50px;
    border: 1px solid grey;
    font-family: Paper_Flowers, serif;
		color: 	#981E32;
		font-size: 25px;
	}

	#Option2 {
		background-color: #a6a6a6;
		height: 50px;
		size: 50px;
    border: 1px solid grey;
    font-family: Paper_Flowers, serif;
		color: 	#981E32;
		font-size: 25px;
	}

#or {
  background-color: black;
  height: 50px;
  size: 50px;
  border: 1px solid black;
  font-family: Paper_Flowers, serif;
  color: 	#981E32;
  font-weight: bold;
  font-size: 30px;
}

	#NextQuestion {
    background-color: #a6a6a6;
    border: 1px solid grey;
    font-family: Paper_Flowers, serif;
		color: 	#981E32;
		font-size: 25px;
	}

	button {
		border-radius: 10px;
	}